@font-face { font-family: Poppins-Medium; src: url('fonts/Poppins-Medium.ttf');}

body {
    text-align: center;
}
.whole{
    background-color: #EAEAEA;
    font-family:"Poppins-Medium";
}
#weather {
    margin-top: 50px;
}

.topnav {
    overflow: hidden;
    background-color: #EAEAEA;
    width:70%;

}

.topnav .search-container {
float:left;
    margin-left:30px;
    position:absolute;
    left:2%;
    top:3%;


}

.topnav input[type=text] {
    width: 200px;
    padding: 6px;
    font-size: 17px;
    border-radius:7px;
    border:none;
    background-color:#DEDEDE;
    font-family:"Poppins-Medium";
    color:#808080;
}

.topnav .search-container button {
    text-align: left;
    padding: 6px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius:7px;
    margin-left:7px;
    color:#808080;
}

.topnav .search-container button:hover {
    background: #ccc;
    color:#808080;
}

.topnav .date{
    float:right;


}

.right {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #DEDEDE;
    width:30%;
    height: 100%;
    border-radius:40px;
    //box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.19);
}
.bigTemp{
    font-size:170px;
    font-family:"Poppins-Medium";
    margin-left:470px;
    color:#808080;
    position:absolute;
    top:13%;
}

.date{
    float:right;
    position:absolute;
    right:35%;
    top:4%;
    color:#808080;
    font-size:20px;
}

/* #8B8B8B for font color on lighter background
   #808080 for font color on darker background
   #DEDEDE background color dark
   #EAEAEA background color light
*/