@font-face { font-family: Poppins-Medium; src: url('fonts/Poppins-Medium.ttf');}

body {
    text-align: center;
}
.whole{
    background-color: #EAEAEA;
    font-family:"Poppins-Medium";
}
#weather {
    margin-top: 50px;
}
h1{
    text-align:center;
    font-size:60px;
    padding-top:70px;
}

.topnav {
    overflow: hidden;
    background-color: #EAEAEA;
    width:70%;

}

.topnav .search-container {
    text-align: left;
    margin-left:30px;

}

.topnav input[type=text] {
    width: 200px;
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border-radius:7px;
    border:none;
    background-color:#DEDEDE;
    font-family:"Poppins-Medium";
}

.topnav .search-container button {
    text-align: left;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius:7px;
    margin-left:7px;
}

.topnav .search-container button:hover {
    background: #ccc;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #DEDEDE;
    width:30%;
    height: 100%;
    border-radius:40px;
}




