@font-face {
    font-family: Poppins-Medium;
    src: url('fonts/Poppins-Medium.ttf');
}

:root {
    --first-color: #8B8B8B;
    --second-color: #EAEAEA;
    --third-color: #DEDEDE;
    --forth-color: #808080;
    --fifth-color:#ccc;
}

.dark-theme{
    --first-color: #747474;
    --second-color: #151515;
    --third-color: #222222;
    --forth-color:#747474;
    --fifth-color: #151515;
}

.whole {
    background-color: var(--second-color);
    font-family: "Poppins-Medium";
}

.topnav {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    float: left;
    width: 70%;

}

.topnav .search-container {
    display: flex;
    justify-content: left;
    position: absolute;
    left: 3%;

}

.topnav input[type=text] {

    width: 130px;
    padding: 6px;
    font-size: 17px;
    border-radius: 7px;
    border: none;
    background-color: var(--third-color);
    font-family: "Poppins-Medium";
    color: var(--forth-color);
}

.topnav .search-container button {
    font-family: "Poppins-Medium";
    text-align: center;
    padding: 8px;
    background: var(--third-color);
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    margin-left: 7px;
    color: var(--forth-color);
}

.topnav .search-container button:hover {
    background: var(--fifth-color);
    color: var(--forth-color);
}

.topnav .date {
    float: right;
}


.right {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    border-left-style: solid;
    border-color: var(--third-color);
}

.mainInfo {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 500px;
    position: absolute;
    top: 14%;
    left: 21%;

}

.bigTemp {
    font-size: 170px;
    color: var(--first-color);
    text-align: center;


}

.desc {
    width: 300px;
    position: absolute;
    top: 43%;
    left: 26%;
    line-height: 40px;
    font-size: 40px;
    color: var(--first-color);
    text-transform: capitalize;
    text-align: center;

}

.wind {
    position: absolute;
    top: 65%;
    font-size: 20px;
    color: var(--first-color);
}

.humidity {
    position: absolute;
    top: 55%;
    font-size: 20px;
    color: var(--first-color);
}

.windIcon {
    position: absolute;
    top: 65%;
    margin-left: -32px;
    color: var(--first-color);

}

.humIcon {
    position: absolute;
    top: 55%;
    margin-left: -32px;
    color: var(--first-color);

}

.max {
    width: 55px;
    text-align: center;
    position: absolute;
    top: 32%;
    margin-left: -60px;
    font-size: 20px;
    color: var(--first-color);
}

.min {
    width: 50px;
    text-align: center;
    position: absolute;
    top: 52%;
    margin-left: -60px;
    font-size: 20px;
    color: var(--first-color);
}

.date {
    position: absolute;
    left: 60%;
    float: right;
    color: var(--first-color);
    font-size: 20px;
}

.city {
    text-align: center;
    font-size: 50px;
    color: var(--first-color);
    margin-left: 3%;
    text-transform: capitalize;
}
.hourly {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 63%;
    left: 4%;
}
.hourBox {
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    width: 100px;
    height: 160px;
}
.hourLabel {
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
    color: var(--first-color);
}
.hourTemp {
    text-align: center;
    margin-top: 5px;
    color: var(--first-color);
    font-size: 40px;
}

.hourDesc {
    margin-top: 3px;
    text-align: center;
    color: var(--first-color);
    font-size: 16px;
    text-transform: capitalize;
    line-height: 17px;
}

.header {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 16%;
    font-size: 40px;
    color: var(--first-color);
}

.dayBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 13px;
    padding-bottom: 13px;
    margin-left: 34px;
    width: 390px;
    height: 90px;
    background-color: var(--second-color);
    border-bottom-style: solid;
    border-color: var(--third-color);
}

.dayLabel {
    margin-left: 20px;
    font-size: 25px;
    color: var(--first-color);
}

.dayDesc {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    color: var(--first-color);
}

.dayMin {
    margin-left: 20px;
    font-size: 25px;
    color: var(--first-color);
}

.dayMax {
    margin-left: 20px;
    font-size: 25px;
    color: var(--first-color);
}
#dayBox{

    border-top-style:solid;
    border-top-color:var(--third-color);
    padding-top:14px
}

/*
   #8B8B8B for font color on lighter background
   #DEDEDE background color dark
   #EAEAEA background color light
*/
